0: 形式语言与自动机实验（二）
1: 实验二:上下文无关文法与下推自动机
2: 1.设计上下文无关文法的变换算法
3: 实验目的
4: 编程实现上下文无关文法的变换算法，用于消除文法中的ε产生式、单产生式、以及无用符号。
5: 实验内容及要求
6: 上下文无关文法对产生式的右部没有限制，这种完全自由的形式有时会对文法分析带来不良影响，而对文法的某些限制形式在应用中更方便。通过上下文无关文法的变换，在不改变文法的语言生成能力的前提下，可以消除文法中的ε产生式、单产生式、以及无用符号。
7: 要求编程实现消除上下文无关文法中的ε产生式、单产生式、以及无用符号的算法。输入是一个上下文无关文法，输出是与该文法等价的没有ε产生式、单产生式、无用符号的上下文无关文法。
8: 至少使用如下文法中的产生式进行程序的正确性验证。
9: S→a|bA|B|ccD
10: A→abB|ε
11: B→aA
12: C→ddC
13: D→ddd
14: 构造与下推自动机等价的上下文无关文法
15: 实验目的
16: 编程实现由下推自动机构造等价的上下文无关文法的算法。
17: 实验内容及要求
18: 下推自动机和上下文无关文法，是用于描述上下文无关语言的两种方式。对于给定的一个下推自动机，必存在一个上下文无关文法，使得该文法产生的语言与下推自动机接受的语言等价。
19: 要求：
20: （1）编程实现由下推自动机构造等价的上下文无关文法的算法。输入为一个下推自动机，输出为与该下推自动机等价的上下文无关文法。
21: （2）将输出的等价上下文无关文法作为输入，利用所实现的上下文无关文法变换算法，输出与该文法等价的没有ε产生式、单产生式、无用符号的上下文无关文法。
22: 至少使用如下的下推自动机进行程序的正确性验证。
23: 设PDA M＝（{q0,q1},{a,b},{B,z0},δ,q0,z0,Φ）
24: δ定义为：δ（q0,b,z0）={( q0,Bz0)}
25: δ（q0,b,B）={( q0,BB)}
26: δ（q0,a,B）={( q1,ε)}
27: δ（q1,a,B）={( q1,ε)}
28: δ（q1,ε,B）={( q1,ε)}
29: δ（q1,ε,z0）={( q1,ε)}
31: 实验要求
32: 采用分组实验，每组学生3 ~ 4人，在本小班内自由组合，培养学生团队合作能力。
33: 编程语言不限，进行测试验证。
34: 要求程序运行正确，设计风格好，文档描述清晰，并且按期提交实验报告，源代码及可执行程序，同时必须附加程序演示讲解视频（重要，视频大小100M内）。
35: 文件命名方式：组号 + 班级 + 组长姓名 + 文件类型（报告/代码/程序/视频）。四个文件打包提交，压缩包命名方式：实验二 + 组号 + 班级 + 组长姓名。
36: （例如：1组+301+张三+报告.docx           实验二+ 1组+301+张三.zip）
37: 实验报告至少包含以下内容：
38: 小组成员，班级，姓名，学号；成员分工。
39: 实验环境描述：所使用的语言等。
40: 程序的设计思路及核心算法。
41: 程序的输入格式，输出格式。
42: 程序的测试用例，输入，输出，以及执行效果（截图）
43: 改进思路和方法（可选）
44: 提交要求
45: 在6月2日前以组为单位提交到云平台。
